<% content_for :title, 'Portfolio' %>
<div class="wrapper image-wrapper bg-image inverse-text" data-image-src="<%= asset_path('bg13.jpg') %>">
  <div class="container inner pt-120 pb-120 text-center">
    <h1 class="heading">OUR AWESOME WORK</h1>
  </div>
</div>
<div class="wrapper light-wrapper">
  <div class="container inner">
    <div id="cube-grid-large-filter" class="cbp-filter-container text-center">
      <div class="cbp-filter-item-active cbp-filter-item"><%= link_to "All", change_portfolio_url(portfolio_path(user: params[:user], category: "all"), '/portfolio'), remote: true %></div>
      <%= @categories.each do |category| %>
        <div class="cbp-filter-item"><%= link_to category.category_name, change_portfolio_url(portfolio_path(user: params[:user], category: category.category_name), '/portfolio'), remote: true %></div>
      <% end %>
    </div>
    <div class="clearfix"></div>
    <div class="space20"></div>
    <div id="slide-portfolio">
      <%= render partial: 'portfolio', locals: {categories: @categories, portfolio_albums: @portfolio_albums}, remote: true %>
    </div>
  </div>
</div>