<div class="wrapper light-wrapper">
  <div class="container inner">
    <h3 class="text-center"><%= @album.album_name.titleize %></h3>
    <div id="album-container">
      <div id="center"><span class="album-category-name"><%= @album.categories.pluck(:category_name).join(", ").titleize %></span></div>
      <div id="left"> <%= link_to portfolio_path(user: params[:user]), class: "back_link", data: { turbolinks: false } do %>
          <i class="fa fa-arrow-left left-arrow-icon" aria-hidden="true"></i>Back to Portfolio
        <% end %></div>
      <div id="right"><span class="photo-count"><%= @photos.count > 0 ? display_photo_count(@album, @photos) : "" %></span></div>
    </div>
    <br>
    <div id="cube-grid" class="cbp light-gallery">
      <% @photos.each do |photo| %>
        <div class="cbp-item conceptual interior">
          <figure class="overlay overlay2"><a href="<%= photo.image(:original) %>" data-sub-html="#<%= photo.id %>"><%= image_tag(photo.image(:thumb)) %>
            <div id="<%= photo.id %>" class="d-none">
              <p><%= photo.image_file_name %></p>
            </div>
            </a></figure>
        </div>
      <% end %>
    </div>
  </div>
  <%# @alias_name = @photos.try(:first).try(:user).try(:alias) %>
  <div class="flickr_pagination">
    <%= paginate @photos %>
  </div>
</div>
<%= javascript_include_tag "portfolio" %>
<%= javascript_include_tag "scripts" %>
<style>
  .overlay span.bg {
    background: rgba(21,21,21,0.6);
    opacity: 0;
    z-index: 4;
    position: absolute;
    width: 100%;
    height: 100%;
  }
</style>
<script type="text/javascript">
  var is_allowed = "<%= (Rails.env.development? || request.domain == 'afterclix.com') ? 'false' : 'true' %>"
  if(is_allowed == "true"){
    var alias_name = "<%= @alias_name %>"
    $(document).ready(function(){
      $('.pagination a').attr("href",function(){
       return $(this).attr('href').replace('/sites/'+alias_name,'');
      });
    })
  }
</script>