<div class="wrapper light-wrapper">
  <div class="container inner">
    <h3 class="text-center"><%= @album.album_name.titleize %></h3>
    <h6 class="text-right">Total Photos: <%= @album.photos.count %></h6>
    <div id="cube-grid" class="cbp light-gallery">
      <% @photos.each do |photo| %>
        <div class="cbp-item conceptual interior">
          <figure class="overlay overlay2"><a href="<%= photo.image.exists?(:large) ? photo.image(:large) : photo.image(:original) %>" data-sub-html="#<%= photo.id %>"><%= image_tag(photo.image(:thumb)) %>
            <div id="<%= photo.id %>" class="d-none">
              <p><%= photo.image_file_name %></p>
            </div>
            </a></figure>
        </div>
      <% end %>
    </div>
  </div>
  <div class="flickr_pagination">
    <%= paginate @photos %>
  </div>
</div>
<%= javascript_include_tag "portfolio" %>
<%= javascript_include_tag "scripts" %>

<script type="text/javascript">
  var is_allowed = "<%= (Rails.env.development? || request.domain == 'afterclix.com') ? 'false' : 'true' %>"
  if(is_allowed == "true"){
    var alias_name = "<%= @alias_name %>"
    $(document).ready(function(){
      $('.pagination a').attr("href",function(){
       return $(this).attr('href').replace('/sites/'+alias_name,'');
      });
    })
  }
</script>