<table width="600" align="center" bgcolor="#fff" cellpadding="5" cellspacing="5">
  <tr>
    <td align="center" >
      <A href="http://www.afterclix.com"><img src="http://afterclix.com/assets/logo-f4ed90a6c42477cae72aca7ef3cf91abb4758a359e0f2404487fade3b7fa5324.png"></A>
    </td>
  </tr>
  <tr>
    <td height="20">
    </td>
  </tr>
  <tr>
    <td style="font-family:Helvetica; font-size:16px;">Dear Client,
    </td>
  </tr>
  <tr>
    <td height="20"></td>
  </tr>
  <tr>
    <% if @album_recipient.recipient_type != 'admin' %>
      <td style="font-family:Helvetica; font-size:16px; height:30px; background:#ecf8ff;">
        Please check your photos by clicking on the View Album link. It will ask you to enter the passcode. Please apply provided passcode in this email. <%= link_to "View Album", (@album.user.try(:domain_name).present? ? @album.user.try(:domain_name) : ENV['API_BASE_URL']+@album.user.alias) +"/shared_album_login/" + @album.slug + "?token=" + @album_recipient.contact.token, target: "_blank" %>
      </td>
    <% else %>
      <td style="font-family:Helvetica; font-size:16px; height:30px; background:#ecf8ff;">
        Please check your photos by clicking on the View Album link. It will ask you to enter the passcode. Please apply provided passcode in this email. <%= link_to "View Album", ENV['FRONT_URL'] +@album.user.alias+"/shared_album_login/" + @album.slug + "?token=" + @album_recipient.contact.token, target: "_blank" %>
      </td>
    <% end %>
  </tr>
  <tr>
    <td style="font-family:Helvetica; font-size:16px; height:30px; background:#ecf8ff;">
      Passcode: <%= @album_passcode %>
    </td>
  </tr>
  <% if @album_recipient.recipient_type == 'admin' %>
  <tr>
    <td style="font-family:Helvetica; font-size:16px; height:30px; background:#ecf8ff;">
      Minimum Photo Selection : <%= @album_recipient.minimum_photo_selection %><br/>
    </td>
  </tr>
  <tr>
    <td style="font-family:Helvetica; font-size:16px; height:30px; background:#ecf8ff;">
      Allow Comments : <%= @album_recipient.allow_comments %>
    </td>
  </tr>
  <% end %>
  <tr>
    <td>
      <%= @album_recipient.custom_message %>
    </td>
  </tr>
  <tr>
    <td height="20"></td>
  </tr>
  <tr>
    <td style="font-family:Helvetica; font-size:16px;">
      Thanks for choosing AfterClix.<br>
      AfterClix Team
    </td>
  </tr>
  <tr>
    <td align="center" style="font-family:Helvetica; font-size:16px; height:30px; background:#ccc;">
      <A href="http://www.afterclix.com" style="color:#ed174f;">www.afterclix.com</A><br>
    </td>
  </tr>
</table>