<footer class="dark-wrapper inverse-text sticky-footer footer-background">
  <div class="sub-footer">
    <div class="container inner text-center"><%= image_tag(User.get_user(params[:user]).user_logo.photo.image.url(:logo)) if params[:user].present? && User.get_user(params[:user]).user_logo.present? %>
      <!-- <div class="space25"></div> -->
      <% if User.get_user(params[:user]).try(:about).present? %>
        <ul class="social social-color social-s mt-15 text-center">
          <% User.get_user(params[:user]).about.social_links.each do |key, value| %>
            <% if key == "facebook_link" && value.present? %>
              <li><a href="<%= value %>" class="social-l" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
            <% end %>
            <% if key == "twitter_link" && value.present? %>
              <li><a href="<%= value %>" class="social-l" target="_blank"><i class="fa fa-twitter-square"></i></a></li>
            <% end %>
            <% if key == "instagram_link" && value.present? %>
              <li><a href="<%= value %>" class="social-l" target="_blank"><i class="fa fa-instagram"></i></a></li>
            <% end %>
            <% if key == "youtube_link" && value.present? %>
              <li><a href="<%= value %>" class="social-l" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
            <% end %>
            <% if key == "vimeo_link" && value.present? %>
              <li><a href="<%= value %>" class="social-l" target="_blank"><i class="fa fa-vimeo-square"></i></a></li>
            <% end %>
            <% if key == "linkedin_link" && value.present? %>
              <li><a href="<%= value %>" class="social-l" target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
            <% end %>
            <% if key == "pinterest_link" && value.present? %>
              <li><a href="<%= value %>" class="social-l" target="_blank"><i class="fa fa-pinterest-square"></i></a></li>
            <% end %>
            <% if key == "flickr_link" && value.present? %>
              <li><a href="<%= value %>" class="social-l" target="_blank"><i class="fa fa-flickr"></i></a></li>
            <% end %>
          <% end %>
        </ul>
      <% end %>
      <!-- <div class="space25"></div> -->
      <span class="smallest-s footer-text-color"><%= User.get_user(params[:user]).website_detail.present? && User.get_user(params[:user]).website_detail.copyright_text.present? ? User.get_user(params[:user]).website_detail.copyright_text : "© Copyright #{Time.current.year} - AfterClix , All rights reserved" %></span>
      <!-- <div class="space30"></div> -->
      <ul class="social social-bg social-ex-s">
        <li><%= link_to "Powered by AfterClix", "http://www.afterclix.com/", class: "footer-links", target: "_blank" %></li>
      </ul>
    </div>
  </div>
</footer>
