<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <% favicon_url = User.get_user(params[:user]).try(:website_detail).try(:favicon_image).present? ? User.get_user(params[:user]).website_detail.favicon_image.url : asset_path('favicon.png') %>
    <%= favicon_link_tag favicon_url, :rel => 'icon', :type =>  'image/png' %>
    <title><%= (User.get_user(params[:user]).website_detail.present? && User.get_user(params[:user]).website_detail.title.present? ? User.get_user(params[:user]).website_detail.title : "AfterClix") + (content_for?(:title) ? " :: #{content_for(:title)}" : '') %></title>
    <% if User.get_user(params[:user]).try(:website_detail).try(:meta_keywords).present? %>
      <meta name="keywords" content="<%= User.get_user(params[:user]).try(:website_detail).try(:meta_keywords) %>">
    <% end %>
    <% if User.get_user(params[:user]).try(:website_detail).try(:meta_description).present? %>
      <meta name="description" content="<%= User.get_user(params[:user]).try(:website_detail).try(:meta_description) %>">
    <% end %>
    <%= csrf_meta_tags %>
    <link href='https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i,700,700i' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <%= render "layouts/custom_css" %>
  </head>

  <body class="<%= params[:action] == 'shared_album_login' ? 'login-wrap' : '' %>">
    <div class="content-wrapper">
      <%= render "layouts/header" if params[:action] != "shared_album_login" %>
      <%= yield %>
      <% if params[:action] == "shared_album_login" %>
        <%= render "layouts/passcode_footer" %>
      <% else %>
        <%= render "layouts/footer" %>
      <% end %>
    </div>
    <% if @widget.present? %>
      <%= @widget.code.html_safe if @widget.is_active? %>
    <% end %>
  </body>
</html>
